body {
	padding-top:60px;
	padding-bottom:65px;
	font-family: 'Open Sans', sans-serif !important;
}
h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif !important;
}
.spacer {
	height:30px;
}
hr {
	width:100%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(95, 158, 160, 0), rgba(95, 158, 160, 0.75), rgba(95, 158, 160, 0));
}
textarea {
	background:rgba(77, 133, 173, 0.23) !important;
}
.fa-venus {
	color:deeppink !important;
}
.fa-mars {
	color:dodgerblue !important;
}
.hr_normal {
	border-top:solid thin black;
	background-image: none !important;
}
.ltc_button {
	background: #5F9EA0;
 	color: white;
 	border: none;
 	border-radius: 5px;
 	padding: 10px 15px;
 	margin-top:10px;
}
.ltc_button:hover {
	color:khaki;
}
.modal_showing {
	display:block !important;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
input {
	color:cadetblue;
	font-weight: bold;
}
select{
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ellipsis;
    color:cadetblue;
    font-weight: bold;
}
.loading_pic {
	display:block;
	margin:0 auto;
	max-width: 400px;
	 -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-name: loaderSpin;
  -webkit-animation-name: loaderSpin;
  animation-name: loaderSpin;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
@-moz-keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
@-o-keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
@keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
.tab-content {
	padding-top:10px;
}
/*Login Stuff*/
#login-buttons {
	font-size:25px;
}
.or,
.login-form {
	display:none;
}
#login-sign-in-link {
	position:absolute;
	right:0;
	cursor:pointer;
}
#login-dropdown-list {
	  position: relative;
  background: lightgray;
  border-radius: 5px;
  padding: 10px;
}
.login-close-text {
	cursor:pointer;
}
.sign-in-text-facebook {
	cursor:pointer;
}

.main-label {
	display:block;
	width:100%;
}
.ltc_tooltip_popup {
	display:none;
	position:fixed;
	width:200px;
	color:white;
	background:cadetblue;
	border-radius:5px;
	padding:5px;
	z-index: 10;
}

/*Preferences*/
.pref-checkbox {
	display:inline-block;
	padding-left:15px;
}
.ltc_notification_popup_outer {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 0 25px;
  background: cadetblue;
  height: 0px;
  overflow: hidden;
  color: white;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.ltc_notification_popup_inner p{
	margin-top:5px;
}
.ltc_notification_popup_link {
	text-decoration: none;
	color:white;
}
.notification_popup_animation {
  -moz-animation-duration: 8s;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -moz-animation-name: showNotificationPopup;
  -webkit-animation-name: showNotificationPopup;
  animation-name: showNotificationPopup;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes showNotificationPopup {
	0%   {height:0px;}
	5%   {height:40px;}
	95%  {height:40px;}
	100% {height:0px;}
}
@-moz-keyframes showNotificationPopup {
	0%   {height:0px;}
	5%   {height:40px;}
	95%  {height:40px;}
	100% {height:0px;}
}
@-o-keyframes showNotificationPopup {
	0%   {height:0px;}
	5%   {height:40px;}
	95%  {height:40px;}
	100% {height:0px;}
}
@keyframes showNotificationPopup {
	0%   {height:0px;}
	5%   {height:40px;}
	95%  {height:40px;}
	100% {height:0px;}
}

/* Intro Page */
.intro_page_outer {
	padding-top:15px;
}
.intro_page_outer h2,
.intro_pointers_top {
	text-align: center;
	width:80%;
	margin:0 auto;
}
.intro_pointers_top {
	font-size:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.intro_page_features_outer {
	-webkit-transition: 1s opacity;
	-o-transition: 1s opacity;
	transition: 1s opacity;
	opacity: 1;
	min-height: 500px;
  width: 80%;
  margin: 0 auto;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.intro_page_fadeOut {
	opacity:0;
}
.ltc_intro_next {
	float:right;
	width:10%;
	clear:both;
}
.global_confirmation_modal_outer {
	display:none;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100;
	background:rgba(0,0,0,.5);
}
.global_confirmation_modal_inner {
	position: absolute;
    width: 30%;
    height: auto;
    left: 35%;
    top: 35%;
    background-color: ghostwhite;
    border-radius: 5px;
    border: solid 5px cadetblue;
    padding: 15px;
    text-align: center;
}
.global_confirmation_modal_message {
	font-size:24px;
}
.global_confirmation_modal_textarea {
	display:none;
	width:100%;
	min-height: 250px;
}
.global_confirmation_modal_confirm {
    bottom: 15px;
    left: 30%;
    display:block;
    margin:0 auto;
    clear:both;
}
.close-global-modal {
	float:right;
	font-size:25px;
}