body {
	padding-top:60px;
}
.spacer {
	height:30px;
}
hr {
	width:100%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(95, 158, 160, 0), rgba(95, 158, 160, 0.75), rgba(95, 158, 160, 0));
}
.hr_normal {
	border-top:solid thin black;
	background-image: none !important;
}
.ltc_button {
	background: #5F9EA0;
 	color: white;
 	border: none;
 	border-radius: 5px;
 	padding: 10px 15px;
}
.ltc_button:hover {
	color:darkblue;
}
.modal_showing {
	display:block;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.loading_pic {
	display:block;
	margin:0 auto;
	max-width: 400px;
	 -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-name: loaderSpin;
  -webkit-animation-name: loaderSpin;
  animation-name: loaderSpin;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
@-webkit-keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
@-moz-keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
@-o-keyframes loaderSpin {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}