/*Login Stuff*/
#login-buttons {
	font-size:25px;
}
.or,
.login-form {
	display:none;
}
#login-sign-in-link {
	position:absolute;
	right:0;
	cursor:pointer;
}
#login-dropdown-list {
	  position: relative;
  background: lightgray;
  border-radius: 5px;
  padding: 10px;
}
.login-close-text {
	cursor:pointer;
}
.sign-in-text-facebook {
	cursor:pointer;
}

.main-label {
	display:block;
	width:100%;
}

/*Preferences*/
.pref-checkbox {
	display:inline-block;
	padding-left:15px;
}
.pref-checkbox-container {
	height:150px;
	min-height: 175px;
}