/*Slider CSS*/
.slider_container_outer {
	background:lightgray;
	position: relative;
	height:600px;
	overflow: hidden;
}
.slider_container_inner {
	position:relative;
	display: block;
	height:600px;
	width:auto;
	background:orange;
	background-size: cover;
}
.slider_container_inner_1 {
	background-image:url('/couple.jpg');
	-webkit-animation: sliderAnim 20s ease-in-out infinite;
       -moz-animation: sliderAnim 20s ease-in-out infinite;
        -ms-animation: sliderAnim 20s ease-in-out infinite;
         -o-animation: sliderAnim 20s ease-in-out infinite;
            animation: sliderAnim 20s ease-in-out infinite;
}
.slider_container_inner_2 {
	background-image:url('/couple2.jpg');
	background-position-y:20%;
	
}
.slider_container_inner_3 {
	background-image:url('/couple3.jpg');
	background-position-y:30%;
}

/* Page CSS */
.thin-blue-bar {
	height:10px;
	background:#5F9EA0;
}
.home-page-intro {
	background:#5F9EA0;
}
.home-body-section {
	text-align: center;
	padding:2%;
}
.home-body-section i {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.home-body-section:hover i {
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	transform: rotateY(360deg);
}
/*.home-body-section:hover {
	background:lightgray;
	-webkit-transition: .5s background;
	-o-transition: .5s background;
	transition: .5s background;
}*/
.home-body-section i{
	font-size:60px;
}

@keyframes sliderAnim {
	0%  {margin-top:0px;}
	32%  {margin-top:0px;}
	38% {margin-top:-600px;}
	65%  {margin-top:-600px;}
	72%  {margin-top:-1200px;}
	99% {margin-top:-1200px;}
	100% {margin-top:0px;}
}
@-webkit-keyframes sliderAnim {
	0%  {margin-top:0px;}
	32%  {margin-top:0px;}
	38% {margin-top:-600px;}
	65%  {margin-top:-600px;}
	72%  {margin-top:-1200px;}
	99% {margin-top:-1200px;}
	100% {margin-top:0px;}
}
@-moz-keyframes sliderAnim {
	0%  {margin-top:0px;}
	32%  {margin-top:0px;}
	38% {margin-top:-600px;}
	65%  {margin-top:-600px;}
	72%  {margin-top:-1200px;}
	99% {margin-top:-1200px;}
	100% {margin-top:0px;}
}
@-o-keyframes sliderAnim {
	0%  {margin-top:0px;}
	32%  {margin-top:0px;}
	38% {margin-top:-600px;}
	65%  {margin-top:-600px;}
	72%  {margin-top:-1200px;}
	99% {margin-top:-1200px;}
	100% {margin-top:0px;}
}