.profile-top-container {
	height: 350px;
}
.profile-default-container {
	height:100%;
	background-size:cover;
}
.profile-top-right-container {
	height:100%;
}
.profile-message-wink-cont {
	position: absolute;
    bottom: 0;
    width: 100%;
    margin: 1% 0%;
}
.profile-info-field {

}
.profile-message-container {
	overflow: hidden;
	height:0px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.profile-message-container button {
	    position: absolute;
    bottom: 1px;
    right: 15px;
    padding: 10px 25px;
    border:none;
}
.profile-message-container textarea{
	height:100%;
	padding:15px;
	border:none;
    background-color: rgba(0,0,0,.1);
    border-radius:5px;
}
.show-message {
	height:250px;
	margin:1% 0%;
}