.profile-top-container {

}
.profile-default-container {
	  height: 350px;
	background-size: contain;
	  background-repeat: no-repeat;
	  background-position: center;
	  margin-bottom:15px;
	  background-color:rgb(30,30,30);
	  border-radius: 8px;
	  cursor:pointer;
}
.profile-top-right-container {
	height:100%;
}
.profile-message-wink-cont {
  
    width: 100%;
    margin: 1% 0%;
}
.profile-message-wink-cont i {
  margin-right: 10px;
}
.profile-location {
	font-size:22px;
}
.profile-quote {
  font-size: 24px;
}
.profile-lastOnline {
	font-size:18px;
}
.profile-info-field label{
  font-size:14px;
}
.profile-message-container {
	overflow: hidden;
	height:0px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.profile-message-container button {
	    position: absolute;
    bottom: 1px;
    right: 15px;
    padding: 10px 25px;
    border:none;
}
.profile-message-container textarea{
	  height: 100%;
  padding: 15px;
  border: none;
  background-color: rgba(0,0,0,.12);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px black;
}
.profile_photos_modal_outer {
	display:none;
	position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,.5);
}
.profile_photos_modal_inner {
  position: absolute;
  top: 12%;
  left: 10%;
  height: 80%;
  width: 80%;
  background: white;
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: rgb(30,30,30);
}
.profile_photos_next,
.profile_photos_prev {
  position: absolute;
  top: 45%;
  color: white;
  cursor:pointer;
  font-size: 70px;
  -webkit-text-shadow: -1px 5px 3px black;
  -moz-text-shadow: -1px 5px 3px black;
  -ms-text-shadow: -1px 5px 3px black;
  -o-text-shadow: -1px 5px 3px black;
  text-shadow: -1px 5px 3px black;
}
.profile_photos_prev {
  left: 10px;
}
.profile_photos_next {
  right: 10px;
}
.profile_photos_next:active,
.profile_photos_prev:active,
.profile_photos_close:active{
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}
.profile_photos_close {
	position: absolute;
	font-size:50px;
	color:white;
	top:75px;
	right:10px;
	cursor: pointer;
	-webkit-text-shadow: -1px 5px 3px black;
  -moz-text-shadow: -1px 5px 3px black;
  -ms-text-shadow: -1px 5px 3px black;
  -o-text-shadow: -1px 5px 3px black;
  text-shadow: -1px 5px 3px black;
}
.report_user {
  margin-top:10px;
}
.report_user_outer {
  display:none;
  position: fixed;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  background:rgba(0,0,0,.5);
  z-index: 10;
}
.report_user_inner {
  position: absolute;
  width:80%;
  height:80%;
  top:14%;
  left:10%;
  background: white;
  border-radius: 5px;
}
.report_user_inner textarea {
  width:100%;
  min-height: 200px;
}
.submit_report_user {
  position: absolute;
  bottom:0;
  right:0;
  margin-bottom: 10px;
  margin-right: 10px;
}
.profile_testimonial_single_outer {
  background:cadetblue;
  color:white;
  border-radius: 5px;
  margin-bottom: 15px;
  max-height: 250px;
  overflow-y:scroll;
  padding: 10px;
}
.profile_testimonial_name {
  font-size:22px;
}
.profile_testimonial_body {
  font-size:16px;
}
.testimonial_container {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display:block;
  width:100%;
  height:0px;
  overflow: hidden;
  position: relative;
}
.testimonial_name {
  font-size:24px;
}
.testimonial_textarea {
  height:80%;
  width:100%;
}
.submit_testimonial {
      position: absolute;
    right: 0;
    bottom: 21px;
}
.show-message,
.show-testimonial {
  height:250px;
  margin:1% 0%;
}
