.account-searchable-container {
	  display: table;
  border: solid thin gray;
  border-radius: 5px;
  height: 35px;
  overflow: hidden;
  padding:0;
  cursor:pointer;
}
.account-searchable-container span {
	display: table-cell;
  vertical-align: middle;
  width: 50%;
  text-align: center;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.searchable-switch {
	  position: absolute;
  height: 100%;
  background: #5F9EA0;
  left: 0;
}
.switch-no {
	left:50%;
  background-color: rgb(255,70,70);
}
.info-field {
	padding: 1% 0%;
  border-bottom: solid thin gray;
  min-height: 71px;
  padding-top:15px;
}
.info-field select,
.info-field input {
  -webkit-appearance:none;
	min-height: 40px;
  border-radius:10px;
}
.info-field select {
  background-position: 95%;
  background-image: url('/down_arrow_select.png');
  background-repeat: no-repeat;
  background-size: 10px;
}
.info-field label {
	margin-top:8px;
}