.search_page_single_user_outer {
	margin: 10px;
    min-height: 250px;
    height: 250px;
    cursor:pointer;
}
.search_page_single_user_inner_left {
	background-size:contain;
	background-position: 50%;
	background-repeat: no-repeat;
	background-color:rgb(30,30,30);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.search_page_single_user_inner_left,
.search_page_single_user_inner_right {
	height:100%;
	overflow:hidden;
}
.search_page_cityState {
	float:right;
}
.search_page_title_bar {
	margin-bottom:15px;
}
.search_page_title_bar h2{
    font-size: 26px;
    display: inline;
    color:cadetblue;
}
.search_page_title_bar b {
	font-size:22px;
	color:#E8BC4B;
}
.search_page_title_bar i {
	font-size:24px;
}
.search_page_quote {
	font-size:20px;
}
.search_page_bio {
	line-height: 135%;
    font-size: 16px;
}
.search_load_more {
	text-align: center;
  margin-bottom: 20px;
  background: cadetblue;
  color: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 1px 1px 3px black;
}
.search_load_more:active: {
	box-shadow: none;
}
.search_load_more p {
	font-size:25px;
}
.search_load_more span {
	font-size:30px;
}
.search_end {
	display:none;
	text-align: center;
	font-size:20px;
}
.search_page_denied {
	font-size:22px;
}
.search_end_facebook p{
	display:inline-block;
}
.fb_iframe_widget {
	top:-3px;
}